<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Browser" value="Chrome"/>
		<add key="Environment" value="QA"/>
		<add key="RunEnvironment" value="Local"/>
		<add key="BrowserStackUserName" value="UserName"/>
		<add key="BrowserStackKey" value="AccessKey"/>
		<add key="server" value="hub-cloud.browserstack.com"/>
	</appSettings>
</configuration>